.vscode/
.ninja_deps
.ninja_log
*.iso
*.flp
*.o
*.bin
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
missing
install-sh
Makefile
src/Makefile
Makefile.in
src/Makefile.in
/stamp-h?
