/.vscode
.ninja_deps
.ninja_log
*.iso
*.flp
*.o
*.bin
/configure
/autom4te.cache
/config.log
/config.status
/Makefile
/Makefile.in
/stamp-h1
/config.h.in
/INSTALL
src/Makefile.in
src/Makefile
missing
install-sh
config.h
compile
src/Makefile
src/Makefile.in
